.work.ila-w3layouts
    .container
        .col-md-4.work-ila-left
            h3.ila-title 
            //- include ../_work.pug
            //- include ../_education.pug
            p.title1 Direct Sales
            p Show overall sales performance vs Target by Time, Groups, Centers, Product, EP/EC,...
            ul
                img(src='./dist/images/home/biDirectsales - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biDirectsales.png' zoombox='')
        .col-md-4.work-ila-center
            h3.ila-title 
            //- include ../_project.pug
            p.title1 Discount Report
            p Display details of discounts by Groups, Centers, Products,...
            ul
                img(src='./dist/images/home/biDiscount - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biDiscount.png' zoombox='')
        .col-md-4.work-ila-right
            h3.ila-title 
            //- include ../_project.pug
            p.title1 KPI by week
            p Shows actual enrollment, actual student hours compared to planned (weekly).
            ul
                img(src='./dist/images/home/biKPIbyweek - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biKPIbyweek.png' zoombox='')
        .clearfix