.contact.ila-w3layouts
    .container
        h3.ila-title Contact #{company}
        .contact-w3lsrow
            .col-md-6.contact-wthree-left
                include _map
            .col-md-6.contact-wthree-right
                include _form
            .clearfix
