form(action='#' method='post')
    input(type='text' name='Name' placeholder='Name' required='')
    input.email(type='email' name='Email' placeholder='Email' required='')
    input.phone(type='text' name='phone' placeholder='Phone' required='')
    textarea(name='Message' placeholder='Message' required='')
    input(type='submit' value='SUBMIT')