
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-12 work-ila-left">
      <h3 class="ila-title">LMS Moodle Reports</h3>
      <p>
         Course list, Search course, Placement Test, Outstanding Tasks report for Staff, Outstanding Tasks report for teacher/TA, 
        Payslip (Teacher/TA only), Bank of hours (Teacher/TA only)
        <div class="clearfix"></div>
      </p>
    </div>
    <div class="col-md-12">
      <ul>
        <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Course list"><img class="img-responsive" src="./dist/images/home/lmsCourse list-smail.jpg" src2="./dist/images/home/lmsCourse list.jpg" zoombox="project" alt="List of course of teacher/TA/Student"/>
            <div class="wthree-pcatn">
              <h4>Course list</h4>
            </div></a></div>
        <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Search course"><img class="img-responsive" src="./dist/images/home/lmsCourse search-smail.jpg" src2="./dist/images/home/lmsCourse search.jpg" zoombox="project" alt="List of course with searching (not for student)"/>
            <div class="wthree-pcatn">
              <h4>Search course</h4>
            </div></a></div>
        <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Placement Test"><img class="img-responsive" src="./dist/images/home/lmsPlacement test-smail.jpg" src2="./dist/images/home/lmsPlacement test.jpg" zoombox="project" alt="Placement test which daily booked of Tester"/>
            <div class="wthree-pcatn">
              <h4>Placement Test</h4>
            </div></a></div>
        <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Outstanding Tasks report for Staff"><img class="img-responsive" src="./dist/images/home/Lmsoutstandding tasks for staff-smail.jpg" src2="./dist/images/home/Lmsoutstandding tasks for staff.jpg" zoombox="project" alt="This report is using for Operation and RMT/TLM which list of courses tasks was completed by teacher/TA"/>
            <div class="wthree-pcatn">
              <h4>Outstanding Tasks report for Staff</h4>
            </div></a></div>
        <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Outstanding Tasks report for teacher/TA"><img class="img-responsive" src="./dist/images/home/Lmsteacher-ta outstanding tasks - details-smail.jpg" src2="./dist/images/home/Lmsteacher-ta outstanding tasks - details.jpg" zoombox="project" alt="This report is using for teacher/TA which list of courses tasks was completed"/>
            <div class="wthree-pcatn">
              <h4>Outstanding Tasks report for teacher/TA</h4>
            </div></a></div>
        <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Payslip (Teacher/TA only)"><img class="img-responsive" src="./dist/images/home/Lmspayslip-smail.jpg" src2="./dist/images/home/Lmspayslip.jpg" zoombox="project" alt="Show Payslip (Teacher/TA only)"/>
            <div class="wthree-pcatn">
              <h4>Payslip (Teacher/TA only)</h4>
            </div></a></div>
        <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Bank of hours (Teacher/TA only)"><img class="img-responsive" src="./dist/images/home/lmsbank of hours-smail.jpg" src2="./dist/images/home/lmsbank of hours.jpg" zoombox="project" alt="Show Bank of hours (Teacher/TA only)"/>
            <div class="wthree-pcatn">
              <h4>Bank of hours (Teacher/TA only)</h4>
            </div></a></div>
      </ul>
    </div>
  </div>
</div>