
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-6 work-ila-left">
      <h3 class="ila-title"> 1. Center management</h3>
      <p>"Basket Revenue"</p>
      <p>Show actual enrollment, stopped students, sales vs forecasting by Time, Group, Center, Product, Program:</p>
      <div class="col-md-12"><img src="./dist/images/home/biBasket-rev-smail.png" width="500px" height="220px" src2="./dist/images/home/biBasket-rev.png" zoombox=""/></div>
      <div class="col-md-12"><img src="./dist/images/home/biBasket-rev2-smail.png" width="500px" height="220px" src2="./dist/images/home/biBasket-rev2.png" zoombox=""/></div>
    </div>
    <div class="col-md-6 work-ila-right">
      <h3 class="ila-title">1.</h3>
      <p>"Re-enrollment & Stop"</p>
      <p>Analyze enrollment versus stoppage and show the reasons for stopping by details of each Student, Product...</p>
      <div class="col-md-12"><img src="./dist/images/home/biRe-enrollment-stop1-smail.png" width="500px" height="220px" src2="./dist/images/home/biRe-enrollment-stop1.png" zoombox=""/></div>
      <div class="col-md-12"><img src="./dist/images/home/biRe-enrollment-stop2-smail.png" width="500px" height="220px" src2="./dist/images/home/biRe-enrollment-stop2.png" zoombox=""/></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>