
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-4 work-ila-left">
      <h3 class="ila-title"> </h3>
      <p class="title1">Direct Sales</p>
      <p>Show overall sales performance vs Target by Time, Groups, Centers, Product, EP/EC,...</p>
      <ul><img src="./dist/images/home/biDirectsales - Copy.png" width="350px" height="240px" src2="./dist/images/home/biDirectsales.png" zoombox=""/></ul>
    </div>
    <div class="col-md-4 work-ila-center">
      <h3 class="ila-title"> </h3>
      <p class="title1">Discount Report</p>
      <p>Display details of discounts by Groups, Centers, Products,...</p>
      <ul><img src="./dist/images/home/biDiscount - Copy.png" width="350px" height="240px" src2="./dist/images/home/biDiscount.png" zoombox=""/></ul>
    </div>
    <div class="col-md-4 work-ila-right">
      <h3 class="ila-title"> </h3>
      <p class="title1">KPI by week</p>
      <p>Shows actual enrollment, actual student hours compared to planned (weekly).</p>
      <ul><img src="./dist/images/home/biKPIbyweek - Copy.png" width="350px" height="240px" src2="./dist/images/home/biKPIbyweek.png" zoombox=""/></ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>