
<ul class="slider">
  <li class="ila">
    <div class="banner">
      <div class="banner-w3lsinfo">
        <h2> CRM System</h2>
        <div class="container">
          <div class="col-md-4 header-w3left"><img src="undefined" alt="ILA Avatar"/>
            <div class="header-imgtext-w3ls">
              <h1></h1>
              <div class="social-wthree-icons">
                <ul>
                  <li><a class="fa fa-facebook icon icon-border facebook" href="https://www.facebook.com/ilavn/"> </a></li>
                  <li><a class="fa fa-twitter icon icon-border twitter" href="https://twitter.com/ilavietnam"> </a></li>
                  <li><a class="fa fa-youtube icon icon-border youtube" href="https://www.youtube.com/user/ILAVietnam1"> </a></li>
                  <li><a class="fa fa-instagram icon icon-border instagram" href="https://www.instagram.com/ilavietnam"> </a></li>
                  <li><a class="fa fa-linkedin icon icon-border linkedin" href="https://www.linkedin.com/company/ila-vietnam"></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-md-8 header-w3right">
            <h3 class="ila-title">ABOUT </h3>
            <div class="about-ilainfo">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Vero vel reiciendis, officia, maiores reprehenderit repellat maxime debitis
                aspernatur nihil voluptas fugit rerum nam sit nulla ducimus temporibus non voluptate tenetur soluta.
                Neque quas tempora minus. Cum, facilis quibusdam quod delectus,
                numquam ab aperiam beatae pariatur reiciendis quae, accusantium mollitia sapiente.
              </p>
              <div class="col-md-4 col-xs-4 about-grids"><i class="fa fa-user"></i>
                <h5>Our Info</h5>
                <ul class="address">
                  <li><b>D.O.B</b> : 20-12-1991</li>
                  <li><b>JOB TITLE</b> : Pricing Manager</li>
                  <li><b>HOBBIES</b> : Music and Sleeping</li>
                </ul>
              </div>
              <div class="col-md-4 col-xs-4 about-grids"><i class="fa fa-envelope"></i>
                <h5>Contact Us</h5>
                <ul class="address">
                  <li><b>PHONE</b> : </li>
                  <li><b>E-MAIL</b> : <a href="mailto:undefined"></a></li>
                  <li><b>ADDRESS</b> : </li>
                </ul>
              </div>
              <div class="col-md-4 col-xs-4 about-grids"><i class="fa fa-share-alt"></i>
                <h5>Comments</h5>
                <ul class="address">
                  <li><b>Phong Le</b> : <a href="https://www.linkedin.com/in/phonglsftu/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_skills_endorsement_full_list%3BZ1FA81FfQgygwjJNwV2pFg%3D%3D&amp;licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_skills_endorsement_full_list-skills_endorsement_full_list">Manager at TIKI</a></li>
                  <li><b>Thoun Khemren</b> : <a href="https://www.linkedin.com/in/thoun-khemren-a9177b10b/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_skills_endorsement_full_list%3BZ1FA81FfQgygwjJNwV2pFg%3D%3D&amp;licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_skills_endorsement_full_list-skills_endorsement_full_list">Manager at Yinkok</a></li>
                  <li><b>William Hung</b> : <a href="https://www.linkedin.com/in/le-nhat-hung-william-hung-5074a1b7/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_skills_endorsement_full_list%3BZ1FA81FfQgygwjJNwV2pFg%3D%3D&amp;licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_skills_endorsement_full_list-skills_endorsement_full_list">Logistics &amp; Supply</a></li>
                </ul>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </li>
  <li class="ila">
    <div class="skills">
      <div class="container">
        <div class="col-md-8 skills-w3lsleft">
          <h3 class="ila-title">Our Skills</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Harum molestias impedit qui eveniet iste aperiam nostrum, ipsam eaque magni,
            quam voluptatibus accusamus voluptate illo blanditiis similique labore, numquam repudiandae.
            Debitis voluptatum ipsa quis dignissimos repudiandae rem natus numquam maiores distinctio?
            Accusantium explicabo incidunt atque sint modi deleniti fugiat, esse placeat.
          </p>
          <div class="skill-ilainfo">
                      <div class="skillbar" data-percent="90"><span class="skillbar-title" style="background: #d35400;">Business Process Improvement</span>
                        <p class="skillbar-bar" style="background: #d35400;"></p><span class="skill-bar-percent"></span>
                      </div>
                      <div class="skillbar" data-percent="99"><span class="skillbar-title" style="background: #2980b9;">Pricing Optimization</span>
                        <p class="skillbar-bar" style="background: #3498db;"></p><span class="skill-bar-percent"></span>
                      </div>
                      <div class="skillbar" data-percent="80"><span class="skillbar-title" style="background: #2c3e50;">Business Analysis Planning</span>
                        <p class="skillbar-bar" style="background: #2c3e50;"></p><span class="skill-bar-percent"></span>
                      </div>
                      <div class="skillbar" data-percent="95"><span class="skillbar-title" style="background: #46465e;">Teamwork</span>
                        <p class="skillbar-bar" style="background: #5a68a5;"></p><span class="skill-bar-percent"></span>
                      </div>
          </div>
        </div>
        <div class="col-md-4 services">
          <h3 class="ila-title">Our Knowledge</h3>
                    <div class="serv-wthree-row w3layouts">
                      <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
                      <div class="col-xs-9 services-w3lsright">
                        <h4>Technical Support</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="serv-wthree-row w3layouts">
                      <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
                      <div class="col-xs-9 services-w3lsright">
                        <h4>Project Management</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="serv-wthree-row w3layouts">
                      <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
                      <div class="col-xs-9 services-w3lsright">
                        <h4>Business Intelligence</h4>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="serv-wthree-row w3layouts">
                      <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
                      <div class="col-xs-9 services-w3lsright">
                        <h4>Teamwork</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum!</p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </li>
  <li class="ila">
    <div class="work ila-w3layouts">
      <div class="container">
        <div class="col-md-6 work-ila-left">
          <h3 class="ila-title">Our Experience</h3>
                    <div class="panel panel-default">
                      <div class="panel-heading" id="headingOne" role="tab">
                        <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> 2014-2016</a></h4>
                      </div>
                      <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"></div>
                      <div class="panel-body panel_text">
                        <h5>Coca Viet Nam</h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, tempora.
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" id="headingOne" role="tab">
                        <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> 2013-2014</a></h4>
                      </div>
                      <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" id="headingOne" role="tab">
                        <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> 2012-2013</a></h4>
                      </div>
                      <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
                    </div>
          <h3 class="ila-title ila-title2">Our Education</h3>
          <div class="panel-group w3l_panel_group_faq" id="accordion1" role="tablist"></div>
                    <div class="panel panel-default">
                      <div class="panel-heading" id="headingOne" role="tab">
                        <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Master Degree (2010-2012)</a></h4>
                      </div>
                      <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"></div>
                      <div class="panel-body panel_text">
                        <h5>University of Economics HCM</h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, tempora.
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" id="headingOne" role="tab">
                        <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Diploma in Design - (2007-2010)</a></h4>
                      </div>
                      <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" id="headingOne" role="tab">
                        <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Diploma in Design - (2007-2010)</a></h4>
                      </div>
                      <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
                    </div>
        </div>
        <div class="col-md-6 work-ila-right">
          <h3 class="ila-title">Our Projects</h3>
          <div class="Projects">
            <ul>
                        <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 0"><img class="img-responsive" src="./dist/images/home/AiNhan.jpg" alt=""/>
                            <div class="wthree-pcatn">
                              <h4>Project 0</h4>
                            </div></a></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 1"><img class="img-responsive" src="./dist/images/home/AiNhan_01.jpg" alt=""/>
                            <div class="wthree-pcatn">
                              <h4>Project 1</h4>
                            </div></a></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 2"><img class="img-responsive" src="./dist/images/home/AiNhan_02.jpg" alt=""/>
                            <div class="wthree-pcatn">
                              <h4>Project 2</h4>
                            </div></a></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 3"><img class="img-responsive" src="./dist/images/home/AiNhan_03.jpg" alt=""/>
                            <div class="wthree-pcatn">
                              <h4>Project 3</h4>
                            </div></a></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 4"><img class="img-responsive" src="./dist/images/home/AiNhan_04.jpg" alt=""/>
                            <div class="wthree-pcatn">
                              <h4>Project 4</h4>
                            </div></a></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 5"><img class="img-responsive" src="./dist/images/home/AiNhan_05.jpg" alt=""/>
                            <div class="wthree-pcatn">
                              <h4>Project 5</h4>
                            </div></a></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 6"><img class="img-responsive" src="./dist/images/home/AiNhan_06.jpg" alt=""/>
                            <div class="wthree-pcatn">
                              <h4>Project 6</h4>
                            </div></a></div>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </li>
  <li class="ila">
    <div class="work ila-w3layouts">
      <div class="container">
        <div class="col-md-12 work-ila-left">
          <h3 class="ila-title">PAGE0 12/12 (100%)</h3>
          <p>Full Content</p>
          <p>
             Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Minus molestias quas repellendus officiis eius laborum dolorum provident assumenda quidem vitae quibusdam vel tempore a ea,
            id corrupti optio adipisci autem necessitatibus debitis ipsum recusandae deleniti maxime cum.
            Ullam quos, numquam quidem vitae qui ipsam dignissimos iure quia delectus,
            ex architecto autem? Repellat at harum qui, veniam ipsa impedit iusto eveniet,
            sit ad illum atque odit repellendus iure sint, odio exercitationem enim rem maxime veritatis eaque!
            Placeat, quam. Ad quas molestiae repellendus aliquam, veritatis doloremque harum adipisci deleniti.
            Eaque, beatae incidunt aut architecto quia illo ratione exercitationem minus placeat explicabo ad?
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </li>
  <li class="ila">
    <div class="work ila-w3layouts">
      <div class="container">
        <div class="col-md-6 work-ila-left">
          <h3 class="ila-title">PAGE1 6/12 (50%)</h3>
          <p>Left Content</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Mollitia soluta consectetur laborum nobis, velit culpa expedita autem cum harum
            facilis assumenda provident repudiandae praesentium error nemo dolorum tenetur? Dolor, necessitatibus!
          </p>
        </div>
        <div class="col-md-6 work-ila-right">
          <h3 class="ila-title">PAGE1 6/12 (50%)</h3>
          <p>Right Content</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Mollitia soluta consectetur laborum nobis, velit culpa expedita autem cum harum
            facilis assumenda provident repudiandae praesentium error nemo dolorum tenetur? Dolor, necessitatibus!
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </li>
  <li class="ila">
    <div class="work ila-w3layouts">
      <div class="container">
        <div class="col-md-8 work-ila-left">
          <h3 class="ila-title">PAGE2 8/12 (66%)</h3>
          <p>Left Content</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Possimus, quo? Consequatur dolor ex modi nobis id dicta laudantium, optio unde.
          </p>
        </div>
        <div class="col-md-4 work-ila-right">
          <h3 class="ila-title">PAGE2 4/12 (33%)</h3>
          <p>Right Content</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, maiores?</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </li>
  <li class="ila">
    <div class="work ila-w3layouts">
      <div class="container">
        <div class="col-md-4 work-ila-left">
          <h3 class="ila-title">PAGE3 4/12 (33%)</h3>
          <p>Left Content</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, neque?</p>
        </div>
        <div class="col-md-4 work-ila-center">
          <h3 class="ila-title">PAGE3 4/12 (33%)</h3>
          <p>Center Content</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, neque?</p>
        </div>
        <div class="col-md-4 work-ila-right">
          <h3 class="ila-title">PAGE3 4/12 (33%)</h3>
          <p>Right Content</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, neque?</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </li>
  <li class="ila">
    <div class="contact ila-w3layouts">
      <div class="container">
        <h3 class="ila-title">Contact </h3>
        <div class="contact-w3lsrow">
          <div class="col-md-6 contact-wthree-left">
            <iframe src="undefined" allowfullscreen=""></iframe>
            <div class="faddressw3-ilainfo">
              <div class="faddress-w3left">
                <p></p>
              </div>
              <div class="faddress-w3right">
                <p>Hotline :  </p>
                <p>E-mail : <a href="mailto:undefined"></a></p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-6 contact-wthree-right">
            <form action="#" method="post">
              <input type="text" name="Name" placeholder="Name" required=""/>
              <input class="email" type="email" name="Email" placeholder="Email" required=""/>
              <input class="phone" type="text" name="phone" placeholder="Phone" required=""/>
              <textarea name="Message" placeholder="Message" required=""></textarea>
              <input type="submit" value="SUBMIT"/>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </li>
</ul>