.skills
    .container
        .col-md-4.services
            include _knowledge 
        .col-md-8.skills-w3lsleft
            // include _skill-bar
            h3.ila-title Screenshots
            include _slider
        .clearfix  