
<div class="skills">
  <div class="container">
    <div class="col-md-4 services">
      <h3 class="ila-title">CRM Reports</h3>
            <div class="serv-wthree-row w3layouts">
              <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
              <div class="col-xs-9 services-w3lsright">
                <h4>General Management</h4>
                <p>Lead and Pipeline management to track KPIs of Leads, Needs, Qualified Leads, Visitors, New Sales, Unsuccessful Leads</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="serv-wthree-row w3layouts">
              <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-star"></span></div>
              <div class="col-xs-9 services-w3lsright">
                <h4>Telemarketing Performance</h4>
                <p>Track Qualified/ UnQualified Leads by Telemarketing by Day and Show details list of Lead in their Pipeline</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="serv-wthree-row w3layouts">
              <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-stats"></span></div>
              <div class="col-xs-9 services-w3lsright">
                <h4>Sales Performance</h4>
                <p>Show Sales performance, Actual Sales by Channel, Source, EP and Track their pipeline details</p>
              </div>
              <div class="clearfix"></div>
            </div>
    </div>
    <div class="col-md-8 skills-w3lsleft">
      <!-- include _skill-bar-->
      <h3 class="ila-title">Screenshots</h3>
      <div class="Projects">
        <ul>
                <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Campaign Conversion Report"><img class="img-responsive" src="./dist/images/home/1.CampaignConversion-smail.jpg" src2="./dist/images/home/1.CampaignConversion.jpg" zoombox="skill" alt="View the conversion from need to new sales for each channel, campaign"/>
                    <div class="wthree-pcatn">
                      <h4>Campaign Conversion Report</h4>
                    </div></a></div>
                <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Sales Qualifty Conversion"><img class="img-responsive" src="./dist/images/home/2.SalesQualityConversion-smail.jpg" src2="./dist/images/home/2.SalesQualityConversion.jpg" zoombox="skill" alt="View Sales Quality conversion by Group, Center, Product, Channel...Sales type"/>
                    <div class="wthree-pcatn">
                      <h4>Sales Qualifty Conversion</h4>
                    </div></a></div>
                <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="SMS Sent"><img class="img-responsive" src="./dist/images/home/3.SMSSent-smail.jpg" src2="./dist/images/home/3.SMSSent.jpg" zoombox="skill" alt="View the number of send-out-sms by EP/EC"/>
                    <div class="wthree-pcatn">
                      <h4>SMS Sent</h4>
                    </div></a></div>
                <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Telemarketing Performance Dashboard"><img class="img-responsive" src="./dist/images/home/4.TelemarketingPerformanceDashboard-smail.jpg" src2="./dist/images/home/4.TelemarketingPerformanceDashboard.jpg" zoombox="skill" alt="Dashboard for Pipeline management by Telemarketing"/>
                    <div class="wthree-pcatn">
                      <h4>Telemarketing Performance Dashboard</h4>
                    </div></a></div>
                <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Telemarketing Report"><img class="img-responsive" src="./dist/images/home/5.TelemarketingReport-smail.jpg" src2="./dist/images/home/5.TelemarketingReport.jpg" zoombox="skill" alt="Daily Tracking Telemarketing qualification"/>
                    <div class="wthree-pcatn">
                      <h4>Telemarketing Report</h4>
                    </div></a></div>
                <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Telemarketing In Pipeline"><img class="img-responsive" src="./dist/images/home/5b.TelemarketingInPipeline-smail.jpg" src2="./dist/images/home/5b.TelemarketingInPipeline.jpg" zoombox="skill" alt="Show details list of Lead in Pipeline of Telemarketing handling"/>
                    <div class="wthree-pcatn">
                      <h4>Telemarketing In Pipeline</h4>
                    </div></a></div>
                <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Sales Performance Dashboard"><img class="img-responsive" src="./dist/images/home/6.SalesPerformanceDashboard-smail.jpg" src2="./dist/images/home/6.SalesPerformanceDashboard.jpg" zoombox="skill" alt="Dashboard for Pipeline management by Sales team"/>
                    <div class="wthree-pcatn">
                      <h4>Sales Performance Dashboard</h4>
                    </div></a></div>
                <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Actual Sales by Product"><img class="img-responsive" src="./dist/images/home/7.SalesVsTarget-smail.jpg" src2="./dist/images/home/7.SalesVsTarget.jpg" zoombox="skill" alt="View Newsales performance details by EPs"/>
                    <div class="wthree-pcatn">
                      <h4>Actual Sales by Product</h4>
                    </div></a></div>
                <div class="col-md-4 col-sm-4 col-xs-4 ila-img"><a class="swipebox" href="javascript:void(0)" title="Unsuccessful Tracking"><img class="img-responsive" src="./dist/images/home/8.Unsuccessful-smail.jpg" src2="./dist/images/home/8.Unsuccessful.jpg" zoombox="skill" alt="View details of Unsuccessful Lead by Reason"/>
                    <div class="wthree-pcatn">
                      <h4>Unsuccessful Tracking</h4>
                    </div></a></div>
        </ul>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>