
<div class="container">
  <h3 class="ila-title">POWER BI REPORTS</h3>
</div>
<section class="ps-timeline-sec">
  <div class="container">
    <ol class="ps-timeline">
      <li>
        <div class="ps-top">
          <p></p>
          <h4>Center Management</h4>Track all Sales & Marketing KPIs related to: Lead management, Sales & Sales value, Enrollment, Fee...
          <p></p>
        </div>
        <div class="ps-bot">
          <h5>Oct &apos;19</h5>
        </div><span class="ps-sp-top">01</span>
      </li>
      <li>
        <div class="ps-bot">
          <p></p>
          <h4>Academic & Product</h4>Monitor Academic KPIs, Teaching hour, Teacher management, Student Outcome, Scheduling Efficiency...
          <p></p>
        </div>
        <div class="ps-top">
          <h5>Nov &apos;19</h5>
        </div><span class="ps-sp-bot">02</span>
      </li>
      <li>
        <div class="ps-top">
          <p></p>
          <h4>Financial</h4>Review P&L, Attendance, Cash-in, Corp. Performance, Review Saving/Transfer/Refund/Revert...
          <p></p>
        </div>
        <div class="ps-bot">
          <h5>Dec &apos;19</h5>
        </div><span class="ps-sp-top">03</span>
      </li>
      <li>
        <div class="ps-bot">
          <p></p>
          <h4>HR</h4>Review the process of Teacher recruitment and Turnover Rate
          <p></p>
        </div>
        <div class="ps-top">
          <h5>Jan &apos;20</h5>
        </div><span class="ps-sp-bot">04</span>
      </li>
    </ol>
  </div>
  <div class="container">
    <ol class="ps-timeline">
      <li>
        <div class="ps-top">
          <p></p>
          <h4>ILO</h4>Track ILO Sales performance
          <p></p>
        </div>
        <div class="ps-bot">
          <h5>Oct &apos;19</h5>
        </div><span class="ps-sp-top">05</span>
      </li>
      <li>
        <div class="ps-bot">
          <p></p>
          <h4>Marketing & Telemarketing</h4>Track Campaign call, Assigned Lead and Marketing Effeciency in Lead generation
          <p></p>
        </div>
        <div class="ps-top">
          <h5>Nov &apos;19</h5>
        </div><span class="ps-sp-bot">06</span>
      </li>
      <li>
        <div class="ps-top">
          <p></p>
          <h4>OSC</h4>Track OSC Sales performance
          <p></p>
        </div>
        <div class="ps-bot">
          <h5>Dec &apos;19</h5>
        </div><span class="ps-sp-top">07</span>
      </li>
      <li>
        <div class="ps-bot">
          <p></p>
          <h4>Audit</h4>Review specific information of student and registration
          <p></p>
        </div>
        <div class="ps-top">
          <h5>Jan &apos;20</h5>
        </div><span class="ps-sp-bot">08</span>
      </li>
    </ol>
  </div>
</section>