.work.ila-w3layouts
    .container
        h3.ila-title  3. Financial
    .container
        .col-md-6.work-ila-left
            p.title1 Center Performance
            p Review P&L, revenue and expenses of Bu, Centers, which are shown through indicators (sales, enrolment, fees, types of costs, EBITDA, ...)
            .col-md-12
                img(src='./dist/images/home/biPnL - Copy.png' width="500px" height = "220px" src2='./dist/images/home/biPnL.png' zoombox='')
            p.title1 Attendance
            p Show the number of attendance with other metrics (Savings, Transfer, Refund, Revert,...).
            .col-md-12
                img(src='./dist/images/home/biAttendance - Copy.png' width="500px" height = "220px" src2='./dist/images/home/biAttendance.png' zoombox='')
            p.title1 Cash-In Accounting
            p
                | Display details of cash in (from new sales, re-enrollments, re-sales,...)           
            .col-md-12
                img(src='./dist/images/home/biCashin - Copy.png' width="500px" height = "220px" src2='./dist/images/home/biCashin.png' zoombox='')
        .col-md-6.work-ila-right
            p.title1 Corp. Performance
            p
                | Show details of Corp. Sale by school/company, Corp. Sale P&L, Corp. Sale by center,…
            .col-md-12
                img(src='./dist/images/home/biCorp.Per - Copy.png' width="500px" height = "220px" src2='./dist/images/home/biCorp.Per.png' zoombox='')
            p.title1 New Sales, Enrolments & Lost
            p
                | Display No. of New Sales & Returning, No. of Stopped Students, No. of Enrolments,…
            .col-md-12
                img(src='./dist/images/home/biNS-Enroll-Lost - Copy.png' width="500px" height = "220px" src2='./dist/images/home/biNS-Enroll-Lost.png' zoombox='')
        .clearfix