.work.ila-w3layouts
    .container
        .col-md-4.work-ila-left
            h3.ila-title 
            //- include ../_work.pug
            //- include ../_education.pug
            p.title1 Scheduling Efficiency
            p Monitor classrooms, teachers, TAs by class, by shift,…
            ul
                img(src='./dist/images/home/biSchedulingEfficiency - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biSchedulingEfficiency.png' zoombox='')
        .col-md-4.work-ila-center
            h3.ila-title 
            //- include ../_project.pug
            p.title1 Student Outcome
            p Show student results (Cambridge results, ILA Skills,..)
            ul
                img(src='./dist/images/home/biStudentOutcome - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biStudentOutcome.png' zoombox='')
        .col-md-4.work-ila-right
            h3.ila-title 
            //- include ../_project.pug
            p.title1 Pass Fail Dashboard
            p Show of student final results (fail or pass)
            ul
                img(src='./dist/images/home/biPassfail - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biPassfail.png' zoombox='')
        .clearfix
        