.work.ila-w3layouts
    .container
        h3.ila-title  1. Center management
    .container
        .col-md-6.work-ila-left
            p.title1 Basket Revenue
            p
                | Show actual enrollment, stopped students, sales vs forecasting by Time, Group, Center, Product, Program:
            .col-md-12
                img(src='./dist/images/home/biBasket-rev-smail.png' width="500px" height = "220px" src2='./dist/images/home/biBasket-rev.png' zoombox='')
            .col-md-12
                img(src='./dist/images/home/biBasket-rev2-smail.png' width="500px" height = "220px" src2='./dist/images/home/biBasket-rev2.png' zoombox='')
        .col-md-6.work-ila-right
            p.title1 Re-enrollment & Stop
            p
                | Analyze enrollment versus stoppage and show the reasons for stopping by details of each Student, Product...
            .col-md-12
                img(src='./dist/images/home/biRe-enrollment-stop1-smail.png' width="500px" height = "220px" src2='./dist/images/home/biRe-enrollment-stop1.png' zoombox='')
            .col-md-12
                img(src='./dist/images/home/biRe-enrollment-stop2-smail.png' width="500px" height = "220px" src2='./dist/images/home/biRe-enrollment-stop2.png' zoombox='')
        .clearfix