.banner
    .banner-w3lsinfo
        h2 #{company} REPORTS CONSOLIDATION
        .container
            .col-md-4.header-w3left
                include _profile  
            .col-md-8.header-w3right
                include _about
            .clearfix  