img(src = `${ilaAvatar}` alt='ILA Avatar')
//- .header-imgtext-w3ls
//-     h1 #{company}
//-     .social-wthree-icons
//-         ul
//-             li
//-                 a.fa.fa-facebook.icon.icon-border.facebook(href='https://www.facebook.com/ilavn/')  
//-             li
//-                 a.fa.fa-twitter.icon.icon-border.twitter(href='https://twitter.com/ilavietnam')
//-             li
//-                 a.fa.fa-linkedin.icon.icon-border.linkedin(href='https://www.linkedin.com/company/ila-vietnam')
//-             li
//-                 a.fa.fa-instagram.icon.icon-border.instagram(href='https://www.instagram.com/ilavietnam') 
//-             li
//-                 a.fa.fa-youtube.icon.icon-border.youtube(href='https://www.youtube.com/user/ILAVietnam1')
//-         .clearfix