
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-6 work-ila-left">
      <h3 class="ila-title">Our Experience</h3>
            <div class="panel panel-default">
              <div class="panel-heading" id="headingOne" role="tab">
                <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> 2014-2016</a></h4>
              </div>
              <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"></div>
              <div class="panel-body panel_text">
                <h5>Coca Viet Nam</h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, tempora.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" id="headingOne" role="tab">
                <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> 2013-2014</a></h4>
              </div>
              <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" id="headingOne" role="tab">
                <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> 2012-2013</a></h4>
              </div>
              <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
            </div>
      <h3 class="ila-title ila-title2">Our Education</h3>
      <div class="panel-group w3l_panel_group_faq" id="accordion1" role="tablist"></div>
            <div class="panel panel-default">
              <div class="panel-heading" id="headingOne" role="tab">
                <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Master Degree (2010-2012)</a></h4>
              </div>
              <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"></div>
              <div class="panel-body panel_text">
                <h5>University of Economics HCM</h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, tempora.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" id="headingOne" role="tab">
                <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Diploma in Design - (2007-2010)</a></h4>
              </div>
              <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" id="headingOne" role="tab">
                <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Diploma in Design - (2007-2010)</a></h4>
              </div>
              <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
            </div>
    </div>
    <div class="col-md-6 work-ila-right">
      <h3 class="ila-title">Our Projects</h3>
      <div class="Projects">
        <ul>
                <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 0"><img class="img-responsive" src="./dist/images/home/AiNhan.jpg" alt=""/>
                    <div class="wthree-pcatn">
                      <h4>Project 0</h4>
                    </div></a></div>
                <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 1"><img class="img-responsive" src="./dist/images/home/AiNhan_01.jpg" alt=""/>
                    <div class="wthree-pcatn">
                      <h4>Project 1</h4>
                    </div></a></div>
                <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 2"><img class="img-responsive" src="./dist/images/home/AiNhan_02.jpg" alt=""/>
                    <div class="wthree-pcatn">
                      <h4>Project 2</h4>
                    </div></a></div>
                <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 3"><img class="img-responsive" src="./dist/images/home/AiNhan_03.jpg" alt=""/>
                    <div class="wthree-pcatn">
                      <h4>Project 3</h4>
                    </div></a></div>
                <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 4"><img class="img-responsive" src="./dist/images/home/AiNhan_04.jpg" alt=""/>
                    <div class="wthree-pcatn">
                      <h4>Project 4</h4>
                    </div></a></div>
                <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 5"><img class="img-responsive" src="./dist/images/home/AiNhan_05.jpg" alt=""/>
                    <div class="wthree-pcatn">
                      <h4>Project 5</h4>
                    </div></a></div>
                <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="" title="Project 6"><img class="img-responsive" src="./dist/images/home/AiNhan_06.jpg" alt=""/>
                    <div class="wthree-pcatn">
                      <h4>Project 6</h4>
                    </div></a></div>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>