
<h3 class="ila-title ila-title2">Our Education</h3>
<div class="panel-group w3l_panel_group_faq" id="accordion1" role="tablist"></div>
<div class="panel panel-default">
  <div class="panel-heading" id="headingOne" role="tab">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Master Degree (2010-2012)</a></h4>
  </div>
  <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"></div>
  <div class="panel-body panel_text">
    <h5>University of Economics HCM</h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, tempora.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" id="headingOne" role="tab">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Diploma in Design - (2007-2010)</a></h4>
  </div>
  <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" id="headingOne" role="tab">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Diploma in Design - (2007-2010)</a></h4>
  </div>
  <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
</div>