
<h3 class="ila-title">Our Experience</h3>
<div class="panel panel-default">
  <div class="panel-heading" id="headingOne" role="tab">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> 2014-2016</a></h4>
  </div>
  <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"></div>
  <div class="panel-body panel_text">
    <h5>Coca Viet Nam</h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, tempora.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" id="headingOne" role="tab">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> 2013-2014</a></h4>
  </div>
  <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" id="headingOne" role="tab">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> 2012-2013</a></h4>
  </div>
  <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel"></div>
</div>