
<h3 class="ila-title">ABOUT </h3>
<div class="about-ilainfo">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Vero vel reiciendis, officia, maiores reprehenderit repellat maxime debitis
    aspernatur nihil voluptas fugit rerum nam sit nulla ducimus temporibus non voluptate tenetur soluta.
    Neque quas tempora minus. Cum, facilis quibusdam quod delectus,
    numquam ab aperiam beatae pariatur reiciendis quae, accusantium mollitia sapiente.
  </p>
  <div class="col-md-4 col-xs-4 about-grids"><i class="fa fa-user"></i>
    <h5>Our Info</h5>
    <ul class="address">
      <li><b>D.O.B</b> : 20-12-1991</li>
      <li><b>JOB TITLE</b> : Pricing Manager</li>
      <li><b>HOBBIES</b> : Music and Sleeping</li>
    </ul>
  </div>
  <div class="col-md-4 col-xs-4 about-grids"><i class="fa fa-envelope"></i>
    <h5>Contact Us</h5>
    <ul class="address">
      <li><b>PHONE</b> : </li>
      <li><b>E-MAIL</b> : <a href="mailto:undefined"></a></li>
      <li><b>ADDRESS</b> : </li>
    </ul>
  </div>
  <div class="col-md-4 col-xs-4 about-grids"><i class="fa fa-share-alt"></i>
    <h5>Comments</h5>
    <ul class="address">
      <li><b>Phong Le</b> : <a href="https://www.linkedin.com/in/phonglsftu/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_skills_endorsement_full_list%3BZ1FA81FfQgygwjJNwV2pFg%3D%3D&amp;licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_skills_endorsement_full_list-skills_endorsement_full_list">Manager at TIKI</a></li>
      <li><b>Thoun Khemren</b> : <a href="https://www.linkedin.com/in/thoun-khemren-a9177b10b/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_skills_endorsement_full_list%3BZ1FA81FfQgygwjJNwV2pFg%3D%3D&amp;licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_skills_endorsement_full_list-skills_endorsement_full_list">Manager at Yinkok</a></li>
      <li><b>William Hung</b> : <a href="https://www.linkedin.com/in/le-nhat-hung-william-hung-5074a1b7/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_skills_endorsement_full_list%3BZ1FA81FfQgygwjJNwV2pFg%3D%3D&amp;licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_skills_endorsement_full_list-skills_endorsement_full_list">Logistics &amp; Supply</a></li>
    </ul>
  </div>
  <div class="clearfix"> </div>
</div>