.work.ila-w3layouts
    .container
        .col-md-4.work-ila-left
            h3.ila-title 
            p.title1 Academic - Operation
            p Displays the teacher's information such as age, nationality, annual leave, complaints, ...
            ul
                img(src='./dist/images/home/biAcademicOperation - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biAcademicOperation.png' zoombox='')
        .col-md-4.work-ila-center
            h3.ila-title 
            p.title1 Academic-DashBoard
            p Track expenses like facilities, materials, placement test, work permit,…
            ul
                img(src='./dist/images/home/biAcademicDashboard - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biAcademicDashboard.png' zoombox='')
        .col-md-4.work-ila-right
            h3.ila-title 
            p.title1 Re Enrollment by Teacher
            p Track the percentage of re-registered students that teachers used to teach
            ul
                img(src='./dist/images/home/biRe-enrollmentbyTC - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biRe-enrollmentbyTC.png' zoombox='')
        .clearfix
        