
<h3 class="ila-title">OVERVIEW</h3>
<div class="about-ilainfo">
  <p>
    Currently, all of our reports are stored and built in different systems
    although they have same purpose but in different view.
    This report is a cosolidation to review our current reports which are mainly using,
    their definition, purpose and finding the better solution for centralize all these
    reports to same platform. Below are 4 main systems we are reviewing:
  </p>
  <div class="col-md-3 col-xs-3 about-grids"><img src="./dist/images/home/banner/crm.jpg" alt="No Image"/>
    <h5>CRM</h5>
  </div>
  <div class="col-md-3 col-xs-3 about-grids"><img src="./dist/images/home/banner/erp.jpg" alt="No Image"/>
    <h5>ERP</h5>
  </div>
  <div class="col-md-3 col-xs-3 about-grids"><img src="./dist/images/home/banner/bi.jpg" alt="No Image"/>
    <h5>Power BI</h5>
  </div>
  <div class="col-md-3 col-xs-3 about-grids"><img src="./dist/images/home/banner/lms.jpg" alt="No Image"/>
    <h5>LMS Moodle</h5>
  </div>
  <div class="clearfix"> </div>
</div>