.work.ila-w3layouts
    .container
        .col-md-4.work-ila-left
            h3.ila-title 
            //- include ../_work.pug
            //- include ../_education.pug
            p.title1 Lifetime Value
            p Understand how valuable different customers are to ILA based on lifetime performance.
            ul
                img(src='./dist/images/home/biLifetimevalue - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biLifetimevalue.png' zoombox='')
        .col-md-4.work-ila-center
            h3.ila-title 
            //- include ../_project.pug
            p.title1 Sales & Sale Value
            p Shows sales and sales value, installment value, tuition fees, student hours.
            ul
                img(src='./dist/images/home/biSalesValue - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biSalesValue.png' zoombox='')
        .col-md-4.work-ila-right
            h3.ila-title 
            //- include ../_project.pug
            p.title1 Wait Enrolment
            p Shows the number of students waiting to enroll daily (by region, product, level, module, ...).
            ul
                img(src='./dist/images/home/biWaitenrolment - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biWaitenrolment.png' zoombox='')
        .clearfix