
<div class="work ila-w3layouts">
  <div class="container">
    <h3 class="ila-title"> 4. HR</h3>
  </div>
  <div class="container">
    <div class="col-md-6 work-ila-left">
      <p class="title1">Teacher Management</p>
      <p>Display information and the process of teacher recruitment.</p>
      <div class="col-md-12"><img src="./dist/images/home/biTeacherRecruit1 - Copy.png" width="500px" height="220px" src2="./dist/images/home/biTeacherRecruit1.png" zoombox=""/></div>
      <div class="col-md-12"><img src="./dist/images/home/biTeacherRecruit2 - Copy.png" width="500px" height="220px" src2="./dist/images/home/biTeacherRecruit2.png" zoombox=""/></div>
    </div>
    <div class="col-md-6 work-ila-right">
      <p class="title1">TurnOver Rate</p>
      <p>Show HR metrics such as number of employees, number of leave, turnover rate index... and show details to employee</p>
      <div class="col-md-6"><img src="./dist/images/home/biTurnover1 - Copy.png" width="260px" height="220px" src2="./dist/images/home/biTurnover1.png" zoombox=""/></div>
      <div class="col-md-6"><img src="./dist/images/home/biTurnover2 - Copy.png" width="260px" height="220px" src2="./dist/images/home/biTurnover2.png" zoombox=""/></div>
      <div class="col-md-6"><img src="./dist/images/home/biTurnover3 - Copy.png" width="260px" height="220px" src2="./dist/images/home/biTurnover3.png" zoombox=""/></div>
      <div class="col-md-6"><img src="./dist/images/home/biTurnover4 - Copy.png" width="260px" height="220px" src2="./dist/images/home/biTurnover4.png" zoombox=""/></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>