ul.slider
    li.ila
        include banner/_banner
    li.ila
        include skill/_skill
    li.ila
        include archivement/_archivement
    li.ila
        include page0/_page0
    li.ila
        include page2/_page2
    li.ila
        include page1/_page1
    li.ila
        include page3/_page3
    li.ila
        include page4/_page4
    li.ila
        include page5/_page5
    li.ila
        include page6/_page6
    li.ila
        include page7/_page7
    li.ila
        include page8/_page8
    li.ila
        include page9/_page9
    li.ila
        include page10/_page10
    li.ila
        include page11/_page11
    li.ila
        include page12/_page12
    li.ila
        include page13/_page13
    li.ila
        include page14/_page14
    li.ila
        include page15/_page15            
    //- li.ila
    //-     include contact/_contact