
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-12 work-ila-left">
      <h3 class="ila-title">PAGE0 12/12 (100%)</h3>
      <p>Full Content</p>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Minus molestias quas repellendus officiis eius laborum dolorum provident assumenda quidem vitae quibusdam vel tempore a ea,
        id corrupti optio adipisci autem necessitatibus debitis ipsum recusandae deleniti maxime cum.
        Ullam quos, numquam quidem vitae qui ipsam dignissimos iure quia delectus,
        ex architecto autem? Repellat at harum qui, veniam ipsa impedit iusto eveniet,
        sit ad illum atque odit repellendus iure sint, odio exercitationem enim rem maxime veritatis eaque!
        Placeat, quam. Ad quas molestiae repellendus aliquam, veritatis doloremque harum adipisci deleniti.
        Eaque, beatae incidunt aut architecto quia illo ratione exercitationem minus placeat explicabo ad?
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>