
<div class="panel-group w3l_panel_group_faq" id="accordion1" role="tablist"></div>
<div class="panel panel-default">
  <div class="panel-heading" id="headingOne" role="tab">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Payment long term</a></h4>
  </div>
  <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"></div>
  <div class="panel-body panel_text">
    <h5>Daily cash, Daily cash - card, Daily cash - bank</h5>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" id="headingOne" role="tab">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> ELT ILA Account</a></h4>
  </div>
  <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"></div>
  <div class="panel-body panel_text">
    <h5>Teacher/TA salary Report</h5>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" id="headingOne" role="tab">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Monthly scheduled </a></h4>
  </div>
  <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"></div>
  <div class="panel-body panel_text">
    <h5>Monthly Revenue By Department, Monthly Revenue By Department (forecast), Unearned Fee, Monthly Revenue By Student</h5>
  </div>
</div>