
<div class="Projects">
  <ul>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="#" title="Class-Student profile"><img class="img-responsive" src="./dist/images/home/1.erpStudentProfile-smail.jpg" src2="./dist/images/home/1.erpStudentProfile.jpg" zoombox="projectB" alt="Alt 1"/>
        <div class="wthree-pcatn">
          <h4>Class-Student profile</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="#" title="Reminder"><img class="img-responsive" src="./dist/images/home/2erpReminder-smail.jpg" src2="./dist/images/home/2erpReminder.jpg" zoombox="projectB" alt="Alt 1"/>
        <div class="wthree-pcatn">
          <h4>Reminder</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="#" title="TA Attendance record"><img class="img-responsive" src="./dist/images/home/2erpTAattendance-smail.jpg" src2="./dist/images/home/2erpTAattendance.jpg" zoombox="projectB" alt="Alt 1"/>
        <div class="wthree-pcatn">
          <h4>TA Attendance record</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="#" title="CB summary by centers"><img class="img-responsive" src="./dist/images/home/erpCB-smail.jpg" src2="./dist/images/home/erpCB.jpg" zoombox="projectB" alt="Alt 1"/>
        <div class="wthree-pcatn">
          <h4>CB summary by centers</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="#" title="List of student taking cambridge LT"><img class="img-responsive" src="./dist/images/home/erpCambridge-smail.jpg" src2="./dist/images/home/erpCambridge.jpg" zoombox="projectB" alt="Alt 1"/>
        <div class="wthree-pcatn">
          <h4>List of student taking cambridge LT</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="#" title="Book &amp; POS delivery by class"><img class="img-responsive" src="./dist/images/home/erpBook-smail.jpg" src2="./dist/images/home/erpBook.jpg" zoombox="projectB" alt="Alt 1"/>
        <div class="wthree-pcatn">
          <h4>Book &amp; POS delivery by class</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="#" title="Classroom Usages"><img class="img-responsive" src="./dist/images/home/erpClassroom-smail.jpg" src2="./dist/images/home/erpClassroom.jpg" zoombox="projectB" alt="Alt 1"/>
        <div class="wthree-pcatn">
          <h4>Classroom Usages</h4>
        </div></a></div>
  </ul>
</div>