
<h3 class="ila-title">ScreenShots</h3>
<div class="Projects">
  <ul>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Class-Student profile"><img class="img-responsive" src="./dist/images/home/1.erpStudentProfile-smail.jpg" src2="./dist/images/home/1.erpStudentProfile.jpg" zoombox="project" alt="Show current student list in 1 class"/>
        <div class="wthree-pcatn">
          <h4>Class-Student profile</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Reminder"><img class="img-responsive" src="./dist/images/home/2erpReminder-smail.jpg" src2="./dist/images/home/2erpReminder.jpg" zoombox="project" alt="Show reminder of all classes in center"/>
        <div class="wthree-pcatn">
          <h4>Reminder</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="TA Attendance record"><img class="img-responsive" src="./dist/images/home/2erpTAattendance-smail.jpg" src2="./dist/images/home/2erpTAattendance.jpg" zoombox="project" alt="Attendance record list by center, using to print out and record attendance of teacher/TA"/>
        <div class="wthree-pcatn">
          <h4>TA Attendance record</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="CB summary by centers"><img class="img-responsive" src="./dist/images/home/erpCB-smail.jpg" src2="./dist/images/home/erpCB.jpg" zoombox="project" alt="Cambridge registration summary by center"/>
        <div class="wthree-pcatn">
          <h4>CB summary by centers</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="List of student taking cambridge LT"><img class="img-responsive" src="./dist/images/home/erpCambridge-smail.jpg" src2="./dist/images/home/erpCambridge.jpg" zoombox="project" alt="List of student taking cambridge who pay cambridge fee seperate with tuition fee"/>
        <div class="wthree-pcatn">
          <h4>List of student taking cambridge LT</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Book &amp; POS delivery by class"><img class="img-responsive" src="./dist/images/home/erpBook-smail.jpg" src2="./dist/images/home/erpBook.jpg" zoombox="project" alt="Show Book &amp; POS delivery status by class"/>
        <div class="wthree-pcatn">
          <h4>Book &amp; POS delivery by class</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Classroom Usages"><img class="img-responsive" src="./dist/images/home/erpClassroom-smail.jpg" src2="./dist/images/home/erpClassroom.jpg" zoombox="project" alt="Classroom usages by center"/>
        <div class="wthree-pcatn">
          <h4>Classroom Usages</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Re-enrollment by class"><img class="img-responsive" src="./dist/images/home/erpRe-enrollment by class-smail.jpg" src2="./dist/images/home/erpRe-enrollment by class.jpg" zoombox="project" alt="Show list of student by class who enrolled successfully in next class"/>
        <div class="wthree-pcatn">
          <h4>Re-enrollment by class</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Re-enrollment by program- detail"><img class="img-responsive" src="./dist/images/home/erpRe-enrollment by program-smail.jpg" src2="./dist/images/home/erpRe-enrollment by program.jpg" zoombox="project" alt="Show list of student by programme who enrolled successfully in next class"/>
        <div class="wthree-pcatn">
          <h4>Re-enrollment by program- detail</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Re-enrollment by TA /Teacher"><img class="img-responsive" src="./dist/images/home/erpRe-enrollment by TA-smail.jpg" src2="./dist/images/home/erpRe-enrollment by TA.jpg" zoombox="project" alt="Show list of student re-enrolled by TA teacher who enrolled successfully in next class"/>
        <div class="wthree-pcatn">
          <h4>Re-enrollment by TA /Teacher</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Teacher/TA schedule"><img class="img-responsive" src="./dist/images/home/erpTeacher schedule-smail.jpg" src2="./dist/images/home/erpTeacher schedule.jpg" zoombox="project" alt="Teacher/TA teaching schedule by center"/>
        <div class="wthree-pcatn">
          <h4>Teacher/TA schedule</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Daily cash"><img class="img-responsive" src="./dist/images/home/erpDaily Cash-smail.jpg" src2="./dist/images/home/erpDaily Cash.jpg" zoombox="project" alt="Payment collection detail by center and payment method by CASH"/>
        <div class="wthree-pcatn">
          <h4>Daily cash</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Daily cash - card"><img class="img-responsive" src="./dist/images/home/erpDaily cash - card-smail.jpg" src2="./dist/images/home/erpDaily cash - card.jpg" zoombox="project" alt="Payment collection detail by center and payment method by Credit card"/>
        <div class="wthree-pcatn">
          <h4>Daily cash - card</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Daily cash - bank"><img class="img-responsive" src="./dist/images/home/erpDaily cash - bank-smail.jpg" src2="./dist/images/home/erpDaily cash - bank.jpg" zoombox="project" alt="Payment collection detail by center and payment method by Bank transfer"/>
        <div class="wthree-pcatn">
          <h4>Daily cash - bank</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Teacher/TA salary"><img class="img-responsive" src="./dist/images/home/erpTeacherSalary-smail.jpg" src2="./dist/images/home/erpTeacherSalary.jpg" zoombox="project" alt="Teacher/TA salary report"/>
        <div class="wthree-pcatn">
          <h4>Teacher/TA salary</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Monthly Revenue By Department"><img class="img-responsive" src="./dist/images/home/erpMonthly Revenue By Department-smail.jpg" src2="./dist/images/home/erpMonthly Revenue By Department.jpg" zoombox="project" alt="Revenue report by center"/>
        <div class="wthree-pcatn">
          <h4>Monthly Revenue By Department</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Monthly Revenue By Department (forecast)"><img class="img-responsive" src="./dist/images/home/erpMonthly Revenue By Department (forecast)-smail.jpg" src2="./dist/images/home/erpMonthly Revenue By Department (forecast).jpg" zoombox="project" alt="Revenue report by center (forecast fee earned in month)"/>
        <div class="wthree-pcatn">
          <h4>Monthly Revenue By Department (forecast)</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Unearned Fee - ILA Student account"><img class="img-responsive" src="./dist/images/home/erpUnearned Fee-smail.jpg" src2="./dist/images/home/erpUnearned Fee.jpg" zoombox="project" alt="ILA Account report detail by student"/>
        <div class="wthree-pcatn">
          <h4>Unearned Fee - ILA Student account</h4>
        </div></a></div>
    <div class="col-md-6 col-sm-6 col-xs-6 ila-img"><a class="swipebox" href="javascript:void(0)" title="Monthly Revenue By Student"><img class="img-responsive" src="./dist/images/home/erpMonthly Revenue By Student-smail.jpg" src2="./dist/images/home/erpMonthly Revenue By Student.jpg" zoombox="project" alt="Monthly revenue by student detail"/>
        <div class="wthree-pcatn">
          <h4>Monthly Revenue By Student</h4>
        </div></a></div>
  </ul>
</div>