
<h3 class="ila-title">ERP REPORTS</h3>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="exp1">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Course adminstration</a></h4>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Class-Student profile</h5>
    <p>Show current student list in 1 class</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Reminder</h5>
    <p>Show reminder of all classes in center</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>TA Attendance record</h5>
    <p>Attendance record list by center, using to print out and record attendance of teacher/TA</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>CB summary by centers</h5>
    <p>Cambridge registration summary by center</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>List of student taking cambridge LT</h5>
    <p>List of student taking cambridge who pay cambridge fee seperate with tuition fee</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Book &amp; POS delivery by class</h5>
    <p>Classroom usages by center</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Classroom Usages</h5>
    <p>This report is obsoleted, no data show up - this report show percent pass and failed result of student who teach by this teacher/TA</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="exp2">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Reenrollment</a></h4>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Re-enrollment by class</h5>
    <p>Show list of student by class who enrolled successfully in next class</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Re-enrollment by program- detail</h5>
    <p>Show list of student by programme who enrolled successfully in next class</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Re-enrollment by TA /Teacher</h5>
    <p>Show list of student re-enrolled by TA teacher who enrolled successfully in next class</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="exp3">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Schedule</a></h4>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Teacher/TA schedule</h5>
    <p>Teacher/TA teaching schedule by center</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="exp4">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Payment long term</a></h4>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Daily cash</h5>
    <p>Payment collection detail by center and payment method by CASH</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Daily cash - card</h5>
    <p>Payment collection detail by center and payment method by Credit card</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Daily cash - bank</h5>
    <p>Payment collection detail by center and payment method by Bank transfer</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="exp5">
    <h4 class="panel-title asd"><a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>  Account/Finance</a></h4>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Teacher/TA salary</h5>
    <p>TeacherTA salary report</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Monthly Revenue By Department</h5>
    <p>Revenue report by center</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Monthly Revenue By Department (forecast)</h5>
    <p>Revenue report by center (forecast fee earned in month)</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Unearned Fee - ILA Student account all long term</h5>
    <p>Payment collection detail by center and payment method by Bank transfer</p>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseOne"></div>
  <div class="panel-body panel_text">
    <h5>Monthly Revenue By Student</h5>
    <p>Monthly revenue by student detail</p>
  </div>
</div>