
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-4 work-ila-left">
      <h3 class="ila-title"> </h3>
      <p class="title1">Academic - Operation</p>
      <p>Displays the teacher's information such as age, nationality, annual leave, complaints, ...</p>
      <ul><img src="./dist/images/home/biAcademicOperation - Copy.png" width="350px" height="240px" src2="./dist/images/home/biAcademicOperation.png" zoombox=""/></ul>
    </div>
    <div class="col-md-4 work-ila-center">
      <h3 class="ila-title"> </h3>
      <p class="title1">Academic-DashBoard</p>
      <p>Track expenses like facilities, materials, placement test, work permit,…</p>
      <ul><img src="./dist/images/home/biAcademicDashboard - Copy.png" width="350px" height="240px" src2="./dist/images/home/biAcademicDashboard.png" zoombox=""/></ul>
    </div>
    <div class="col-md-4 work-ila-right">
      <h3 class="ila-title"> </h3>
      <p class="title1">Re Enrollment by Teacher</p>
      <p>Track the percentage of re-registered students that teachers used to teach</p>
      <ul><img src="./dist/images/home/biRe-enrollmentbyTC - Copy.png" width="350px" height="240px" src2="./dist/images/home/biRe-enrollmentbyTC.png" zoombox=""/></ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>