
<h3 class="ila-title">Our Knowledge</h3>
<div class="serv-wthree-row w3layouts">
  <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
  <div class="col-xs-9 services-w3lsright">
    <h4>Technical Support</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
  </div>
  <div class="clearfix"></div>
</div>
<div class="serv-wthree-row w3layouts">
  <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
  <div class="col-xs-9 services-w3lsright">
    <h4>Project Management</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="clearfix"></div>
</div>
<div class="serv-wthree-row w3layouts">
  <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
  <div class="col-xs-9 services-w3lsright">
    <h4>Business Intelligence</h4>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  <div class="clearfix"></div>
</div>
<div class="serv-wthree-row w3layouts">
  <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
  <div class="col-xs-9 services-w3lsright">
    <h4>Teamwork</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum!</p>
  </div>
  <div class="clearfix"></div>
</div>