
<div class="skills">
  <div class="container">
    <div class="col-md-8 skills-w3lsleft">
      <h3 class="ila-title">Our Skills</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Harum molestias impedit qui eveniet iste aperiam nostrum, ipsam eaque magni,
        quam voluptatibus accusamus voluptate illo blanditiis similique labore, numquam repudiandae.
        Debitis voluptatum ipsa quis dignissimos repudiandae rem natus numquam maiores distinctio?
        Accusantium explicabo incidunt atque sint modi deleniti fugiat, esse placeat.
      </p>
      <div class="skill-ilainfo">
              <div class="skillbar" data-percent="90"><span class="skillbar-title" style="background: #d35400;">Business Process Improvement</span>
                <p class="skillbar-bar" style="background: #d35400;"></p><span class="skill-bar-percent"></span>
              </div>
              <div class="skillbar" data-percent="99"><span class="skillbar-title" style="background: #2980b9;">Pricing Optimization</span>
                <p class="skillbar-bar" style="background: #3498db;"></p><span class="skill-bar-percent"></span>
              </div>
              <div class="skillbar" data-percent="80"><span class="skillbar-title" style="background: #2c3e50;">Business Analysis Planning</span>
                <p class="skillbar-bar" style="background: #2c3e50;"></p><span class="skill-bar-percent"></span>
              </div>
              <div class="skillbar" data-percent="95"><span class="skillbar-title" style="background: #46465e;">Teamwork</span>
                <p class="skillbar-bar" style="background: #5a68a5;"></p><span class="skill-bar-percent"></span>
              </div>
      </div>
    </div>
    <div class="col-md-4 services">
      <h3 class="ila-title">Our Knowledge</h3>
            <div class="serv-wthree-row w3layouts">
              <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
              <div class="col-xs-9 services-w3lsright">
                <h4>Technical Support</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="serv-wthree-row w3layouts">
              <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
              <div class="col-xs-9 services-w3lsright">
                <h4>Project Management</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="serv-wthree-row w3layouts">
              <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
              <div class="col-xs-9 services-w3lsright">
                <h4>Business Intelligence</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="serv-wthree-row w3layouts">
              <div class="col-xs-3 services-w3lsleft"><span class="glyphicon glyphicon-cog"></span></div>
              <div class="col-xs-9 services-w3lsright">
                <h4>Teamwork</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum!</p>
              </div>
              <div class="clearfix"></div>
            </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>