
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-4 work-ila-left">
      <h3 class="ila-title"> </h3>
      <p class="title1">Lifetime Value</p>
      <p>Understand how valuable different customers are to ILA based on lifetime performance.</p>
      <ul><img src="./dist/images/home/biLifetimevalue - Copy.png" width="350px" height="240px" src2="./dist/images/home/biLifetimevalue.png" zoombox=""/></ul>
    </div>
    <div class="col-md-4 work-ila-center">
      <h3 class="ila-title"> </h3>
      <p class="title1">Sales & Sale Value</p>
      <p>Shows sales and sales value, installment value, tuition fees, student hours.</p>
      <ul><img src="./dist/images/home/biSalesValue - Copy.png" width="350px" height="240px" src2="./dist/images/home/biSalesValue.png" zoombox=""/></ul>
    </div>
    <div class="col-md-4 work-ila-right">
      <h3 class="ila-title"> </h3>
      <p class="title1">Wait Enrolment</p>
      <p>Shows the number of students waiting to enroll daily (by region, product, level, module, ...).</p>
      <ul><img src="./dist/images/home/biWaitenrolment - Copy.png" width="350px" height="240px" src2="./dist/images/home/biWaitenrolment.png" zoombox=""/></ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>