
<div class="work ila-w3layouts">
  <div class="container">
    <h3 class="ila-title">8. AUDIT</h3>
  </div>
  <div class="container">
    <div class="col-md-4 work-ila-left">
      <p class="title1">Attendance and Refund Audit</p>
      <p>Show details of registrations (student registration information, pathway, refund, convert, ...)</p>
      <ul><img src="./dist/images/home/biaudit1 - Copy.png" width="350px" height="120px" src2="./dist/images/home/biaudit1.png" zoombox=""/><img src="./dist/images/home/biaudit2 - Copy.png" width="350px" height="120px" src2="./dist/images/home/biaudit2.png" zoombox=""/><img src="./dist/images/home/biaudit3 - Copy.png" width="350px" height="120px" src2="./dist/images/home/biaudit3.png" zoombox=""/></ul>
    </div>
    <div class="col-md-4 work-ila-center">
      <p class="title1">AUD_Review Previous Registration</p>
      <p>Show details of the student's previous registrations (previous registration ID, previous class,...)</p>
      <ul><img src="./dist/images/home/biaud - Copy.png" width="350px" height="240px" src2="./dist/images/home/biaud.png" zoombox=""/></ul>
    </div>
    <div class="col-md-4 work-ila-right">
      <p class="title1">Student and Product Report</p>
      <p>Shows specific information about products the student has previously participated in.</p>
      <ul><img src="./dist/images/home/biaud-std - Copy.png" width="350px" height="240px" src2="./dist/images/home/biaud-std.png" zoombox=""/></ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>