.work.ila-w3layouts
    .container
        h3.ila-title  4. HR
    .container
        .col-md-6.work-ila-left
            p.title1 Teacher Management
            p Display information and the process of teacher recruitment.
            .col-md-12
                img(src='./dist/images/home/biTeacherRecruit1 - Copy.png' width="500px" height = "220px" src2='./dist/images/home/biTeacherRecruit1.png' zoombox='')
            .col-md-12
                img(src='./dist/images/home/biTeacherRecruit2 - Copy.png' width="500px" height = "220px" src2='./dist/images/home/biTeacherRecruit2.png' zoombox='')
        .col-md-6.work-ila-right
            p.title1 TurnOver Rate
            p Show HR metrics such as number of employees, number of leave, turnover rate index... and show details to employee
            .col-md-6
                img(src='./dist/images/home/biTurnover1 - Copy.png' width="260px" height = "220px" src2='./dist/images/home/biTurnover1.png' zoombox='')
            .col-md-6
                img(src='./dist/images/home/biTurnover2 - Copy.png' width="260px" height = "220px" src2='./dist/images/home/biTurnover2.png' zoombox='')
            .col-md-6
                img(src='./dist/images/home/biTurnover3 - Copy.png' width="260px" height = "220px" src2='./dist/images/home/biTurnover3.png' zoombox='')
            .col-md-6
                img(src='./dist/images/home/biTurnover4 - Copy.png' width="260px" height = "220px" src2='./dist/images/home/biTurnover4.png' zoombox='')
        .clearfix