
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-12 work-ila-left">
      <h3 class="ila-title">6. MKT & Telemarketing</h3>
      <p class="title1">VoiIp - Assigned Leads</p>
      <p>
         Track the No. of call, Talktimes, Call status (inbound, outbound, answered, busy, failed, no answered,…)
        and Shows the number of Leads assigned by telemarketing team.
        <div class="clearfix"></div>
      </p>
    </div>
    <div class="col-md-12">
      <ul><img src="./dist/images/home/biVoiip1 - Copy.png" width="370px" height="220px" src2="./dist/images/home/biVoiip1.png" zoombox=""/><img src="./dist/images/home/biVoiip2 - Copy.png" width="370px" height="220px" src2="./dist/images/home/biVoiip1.png" zoombox=""/><img src="./dist/images/home/biAssign - Copy.png" width="370px" height="220px" src2="./dist/images/home/biAssign.png" zoombox=""/></ul>
    </div>
  </div>
</div>