.work.ila-w3layouts
    .container
        h3.ila-title 8. AUDIT
    .container
        .col-md-4.work-ila-left
            //- include ../_work.pug
            //- include ../_education.pug
            p.title1 Attendance and Refund Audit
            p Show details of registrations (student registration information, pathway, refund, convert, ...)
            ul
                img(src='./dist/images/home/biaudit1 - Copy.png' width="350px" height = "120px" src2='./dist/images/home/biaudit1.png' zoombox='')
                img(src='./dist/images/home/biaudit2 - Copy.png' width="350px" height = "120px" src2='./dist/images/home/biaudit2.png' zoombox='')
                img(src='./dist/images/home/biaudit3 - Copy.png' width="350px" height = "120px" src2='./dist/images/home/biaudit3.png' zoombox='')
        .col-md-4.work-ila-center
            //- include ../_project.pug
            p.title1 AUD_Review Previous Registration
            p Show details of the student's previous registrations (previous registration ID, previous class,...)
            ul
                img(src='./dist/images/home/biaud - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biaud.png' zoombox='')
        .col-md-4.work-ila-right
            //- include ../_project.pug
            p.title1 Student and Product Report
            p Shows specific information about products the student has previously participated in.
            ul
                img(src='./dist/images/home/biaud-std - Copy.png' width="350px" height = "240px" src2='./dist/images/home/biaud-std.png' zoombox='')
        .clearfix
        