
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-12 work-ila-left">
      <h3 class="ila-title">5. ILO</h3>
      <p>"ILO_Performance Tracking"</p>
      <p>
         Track ILO sales activity (Lead Details, S&M Performance by Schools, Sales by day/by week, by centers,…)
        <div class="clearfix"></div>
      </p>
    </div>
    <div class="col-md-12">
      <ul><img src="./dist/images/home/biilo1 - Copy.png" width="370px" height="220px" src2="./dist/images/home/biilo.png" zoombox=""/><img src="./dist/images/home/biilo2 - Copy.png" width="370px" height="220px" src2="./dist/images/home/biilo2.png" zoombox=""/><img src="./dist/images/home/biilo3 - Copy.png" width="370px" height="220px" src2="./dist/images/home/biilo3.png" zoombox=""/></ul>
    </div>
  </div>
</div>