
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-12 work-ila-left">
      <h3 class="ila-title">7. OSC</h3>
      <p class="title1">OSC_Performance Tracking</p>
      <p>
         Track OSC sales activity (Lead Details, S&M Performance by by centers, EC performance…)
        <div class="clearfix"></div>
      </p>
    </div>
    <div class="col-md-12">
      <ul><img src="./dist/images/home/biOSC1 - Copy.png" width="370px" height="220px" src2="./dist/images/home/biOSC1.png" zoombox=""/><img src="./dist/images/home/biOSC2 - Copy.png" width="370px" height="220px" src2="./dist/images/home/biOSC2.png" zoombox=""/><img src="./dist/images/home/biOSC3 - Copy.png" width="370px" height="220px" src2="./dist/images/home/biOSC3.png" zoombox=""/></ul>
    </div>
  </div>
</div>