
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-6 work-ila-left">
      <h3 class="ila-title">PAGE1 6/12 (50%)</h3>
      <p>Left Content</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Mollitia soluta consectetur laborum nobis, velit culpa expedita autem cum harum
        facilis assumenda provident repudiandae praesentium error nemo dolorum tenetur? Dolor, necessitatibus!
      </p>
    </div>
    <div class="col-md-6 work-ila-right">
      <h3 class="ila-title">PAGE1 6/12 (50%)</h3>
      <p>Right Content</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Mollitia soluta consectetur laborum nobis, velit culpa expedita autem cum harum
        facilis assumenda provident repudiandae praesentium error nemo dolorum tenetur? Dolor, necessitatibus!
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>