
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-12 work-ila-left">
      <h3 class="ila-title">2. Academic & Product</h3>
      <p class="title1">Academic - KPI</p>
      <p>
         Monitor the number of teaching hours of the teacher compared to the plan; number of classes, number of classes, teacher performance,…
        <div class="clearfix"></div>
      </p>
    </div>
    <div class="col-md-12">
      <ul><img src="./dist/images/home/biAcademicKPI - Copy.png" width="370px" height="220px" src2="./dist/images/home/biAcademicKPI.png" zoombox=""/><img src="./dist/images/home/biAcademicKPI2 - Copy.png" width="370px" height="220px" src2="./dist/images/home/biAcademicKPI2.png" zoombox=""/><img src="./dist/images/home/biAcademicKPI3 - Copy.png" width="370px" height="220px" src2="./dist/images/home/biAcademicKPI3.png" zoombox=""/></ul>
    </div>
  </div>
</div>