
<div class="work ila-w3layouts">
  <div class="container">
    <div class="col-md-4 work-ila-left">
      <h3 class="ila-title">PAGE3 4/12 (33%)</h3>
      <p>Left Content</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, neque?</p>
    </div>
    <div class="col-md-4 work-ila-center">
      <h3 class="ila-title">PAGE3 4/12 (33%)</h3>
      <p>Center Content</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, neque?</p>
    </div>
    <div class="col-md-4 work-ila-right">
      <h3 class="ila-title">PAGE3 4/12 (33%)</h3>
      <p>Right Content</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, neque?</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>